alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
alias df='df -h'
alias free='free -h'
alias du='du -h'
alias tree='tree -C'
alias grep='grep --color=auto'
alias ls='ls -AGlh --color=auto'
alias ip='ip -c=auto'
alias mkdir='mkdir -p'
