alias \
  cp='cp -ir' \
  mv='mv -i' \
  rm='rm -I' \
  ln='ln -i' \
  df='df -h' \
  free='free -h' \
  du='du -h' \
  tree='tree -C' \
  grep='grep --color=auto' \
  ls='ls -AGlh --color=auto --classify=auto' \
  ip='ip -c=auto' \
  mkdir='mkdir -p' \
  ps='ps aux' \
  less='less -F' \
  dd='dd status=progress' \
  uptime='uptime --pretty' \
  wget='wget -c'
