up()
{
  directory=''

  if [[ "$#" == 0 ]]
  then
    directory=".."
  else
    repeat "$1"
      directory="../$directory"
  fi

  cd "$directory"
}

custom_cd()
{
  \cd "$@" || { [ "$?" -eq 1 ] && \cd $(dirname "$1") } 
}

dirrm()
{
  parent_dir=${$(realpath $1)%/*}
  mv "$1"/.* -t "$parent_dir"
  mv "$1"/* -t "$parent_dir" && rmdir "$1"
}
